h1{
    font-size: 22pt;
    text-align: center;
}
h2{
    font-size: 18pt;
}
body{
    background-color: coral;
    padding: 50px;
}
p{
    font-size: 14pt;
}
#banner{
    border-bottom: 1px solid black; 
}
button{
    border-radius: 8pt;
    padding: 5px;
    background-color: beige;
    border: 1px solid teal;
    margin: 5px;
}
button:hover{
    background-color: teal;
    color: beige;
}
input{
    border-radius: 8pt;
    padding: 5px;
}
#list{
    display: flex;
    justify-content: center;
    align-items: baseline
}
